.exercises-header {
  .exercises-header-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
  }
}

.exercises-list-filter {
  display: flex;
  align-items: center;

  .exercises-list-filter-item {
    padding: 8px;
    width: auto;
  }

  .exercises-list-filter-search {
    padding: 8px;
    width: 100%;
  }
}

.exercises-list {
  padding: 16px 8px;
}

.ui-table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  border-radius: 16px;

  th, td {
    border: 1px solid #e6e7f1;
    text-align: left;
    padding: 12px;
    color: #787a8d;
  }

  tr:nth-child(even) {
    background: #f6f7fa;
  }

  th {
    background: rgba(107, 117, 141, 0.7);
    color: #fff;
    font-weight: 500;
  }
}
