.ui-select {
  font-size: 14px;
  line-height: 18px;
  background: #fff;
  border: 1px solid rgba(135, 150, 165, 0.25);
  padding: 10px 16px;
  width: 180px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
