.section {
  position: relative;
  padding: 48px;
  margin: 0;
  width: 100%;

  h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
  }

  .section-title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .section-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #727272;
  }
}
